body {
  font: 10px sans-serif;
}
	
.slider-handle{
  background:Navy;
  opacity: 0.75
}

.slider-selection{
  background: MediumTurquoise;
}

.slider-track{
  background: tomato;
}


.bar rect {
  fill: MediumTurquoise ;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
